= form_for (register) do |f|
  - if register.errors.any?
    #error_explanation
      %h2= "#{pluralize(register.errors.count, "error")} prohibited this register from being saved:"
      %ul
        -  register.errors.full_messages.each do |msg|
          %li= msg

  .row
    .field.text_field_color
      = f.label :name
      = f.text_field :name
  .row
    .field.text_field_color
      = f.label :lastName
      = f.text_field :lastName
  .row
    .field.text_field_color
      = f.label :email
      = f.text_field :email
  .row
    .field
      .g-recaptcha{"data-sitekey" => "6LeQRBgUAAAAAB9bOeTrM5B2TvqXWLSwA5Eiy4uT"}
  .row
    .actions.btn.btn-default
      = f.submit 'Registrarse'
